.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
  
body {
    margin: 0;
}
/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    background-color: #9b009d;
}
header img {
    height: 52px;
    filter: invert(100%);
}
header form {
    padding-top: 6px;
}
header img, header label {
    opacity: 75%; 
} 
header input{
    height: 25px;
    border: none;
    border-radius: 3px;
}
header label, #inscrire {
    color: white;
}
header #inscrire {
    background-color: #00e173;
    height: 27px;
}
header input:placeholder-shown {
    font-style: italic;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: solid #eeeeee;
    font-size: 14px;
}
nav img {
    height: 70px;
}
nav p a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav section:first-of-type {
    padding-top: 25px;
    padding-bottom: 10px;
    padding-inline: 66px;
}
nav section:nth-of-type(2) {
    padding-top: 35px;
    padding-bottom: 29px;
    padding-inline: 53px;
    border-inline: solid #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
nav section:nth-of-type(2) p:nth-of-type(2) a:hover::before{
    content: "";
    display: inline-block;
    background-color: black;
    width: 75px;
    height: 2px;
    position: relative;
    top: 3px;
    left: 74px;
}
nav section:nth-of-type(2) p:nth-of-type(2)::after  {
    content: "";
    width: 10px;
}
nav section:nth-of-type(3) {
    padding-top: 35px;
    padding-bottom: 29px;
    padding-inline: 42px;
}
/* main */
main {
    margin-inline: 11.6%;
}
main section h1 {
    font-size: 48px;
    margin-top: 76px;
    padding-bottom: 51px;
    border-bottom: 1px solid #9b009d;
    font-weight: normal;
    text-align: center;
}
main section p {
    line-height: 30px;
} 
main section p:first-of-type{
    padding-top: 15px;
}
main section div:last-of-type p:last-of-type {
    margin-bottom: 82px;
}
main section li:first-of-type {
    margin-top: 43px;
}
main section li {
    margin-bottom: 13px;
    line-height: 30px;
}
main section ul {
    list-style-type: none
}
main section li::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color:#9b009d;
    border-radius: 50%;
    position: relative;
    right: 24px;
    bottom: 2px;
}
main section h2 {
    margin-top: 44px;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 0px;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
}
footer img {
    height:80px;
    padding-top: 100px;
}
footer section p {
    color: white;
    padding-top: 20px;
    padding-bottom: 53px;
    padding-inline: 25px;
}
footer section:last-of-type p {
    color: #444444;
}
footer section:first-of-type {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid #444444;
    gap: 53px;
}
footer i {
    color: white;
    position: relative;
    left: 8px;
    top: 7px;
}
.icone {
    border-radius: 50%;
    border: 2px white solid;
    height: 34px;
    width: 34px;
    position: relative;
    top: 62px;
    right: 15px;
}