.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
body {
    margin: 0;
}
/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    background-color: #9b009d;
}
header img {
    height: 52px;
    filter: invert(100%);
}
header form {
    padding-top: 6px;
}
header img, header label {
    opacity: 75%; 
} 
header input{
    height: 25px;
    border: none;
    border-radius: 3px;
}
header label, #inscrire {
    color: white;
}
header #inscrire {
    background-color: #00e173;
    height: 27px;
}
header input:placeholder-shown {
    font-style: italic;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: solid #eeeeee;
    font-size: 14px;
}
nav img {
    height: 70px;
}
nav p a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav section:first-of-type {
    padding-top: 25px;
    padding-bottom: 10px;
    padding-inline: 66px;
}
nav section:nth-of-type(2) {
    padding-top: 35px;
    padding-bottom: 29px;
    padding-inline: 53px;
    border-inline: solid #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
nav section:nth-of-type(3) {
    padding-top: 35px;
    padding-bottom: 29px;
    padding-inline: 42px;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
}
footer img {
    height:100px;
    padding-top: 50px;
}
footer section p {
    color: white;
    padding-block: 20px;
    padding-inline: 25px;
}
footer section:last-of-type p {
    color: #444444;
}
footer section:first-of-type {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid #444444;
    gap: 20px;
}
footer i {
    color: white;
    position: relative;
    left: 8px;
    top: 7px;
}
.icone {
    border-radius: 50%;
    border: 2px white solid;
    height: 30px;
    width: 30px;
    position: relative;
    top: 62px;
    right: 15px;
}